
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6E6FA;

  overflow-x:hidden;
}

body.light-mode {
  transition: background-color 0.4s ease;
}

body.dark-mode {
  background-color: #323030;
  transition: background-color 0.4s ease;
  color: white;
  .header {
    border-bottom: #cdd1d1 solid 3px;
  }
  .start a {
    color: #00838e;
    &:hover {
      color: #4fb3be;
    }
  }
  .img-block {
    background-color: #003b40;
    &-btn {
      background-color: #00838e;
      &:hover {
        background-color: #4fb3be;
      }
    }
  }
  .cocktail {
    background-color: #003b40;
    border-top: #cdd1d1 solid 3px;
    &-header {
      color: #cdd1d1;
    }
    &-form-btn {
      background-color: #00838e;
      &:hover {
        background-color: #4fb3be;
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
